<h1>User Hand</h1>

<table>
  <thead>
  <tr>
    <th>Card</th>
  </tr>
  </thead>
  <tbody>
  <% @hand_cards.each do |card| %>
    <tr>
      <td>
        <%= card[:card_value] + ' of ' + card[:card_suit] %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Return to Deck', cards_path %>