<h1>Game Coming Soon</h1>

<%= button_to 'Guest User'%>

<h2>Deck</h2>
<table>
  <thead>
  <tr>
    <th>Card</th>
  </tr>
  </thead>
  <tbody>
  <% @cards.each do |card| %>
    <tr>
      <td>
        <%= card[:card_value] + ' of ' + card[:card_suit] %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>